#cv{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../images/skog.jpg');
}

.cv-header{
    @include flex-grid-row;
    background: linear-gradient(to top, rgba(255, 0, 0, 0), #771414);
    color: $color__white;
    
    a{
        color: $color__white;
    }
}

.profile-content{
    @include flex-grid-column(3, 2);
    @include flex-grid-vertical-row;
}

.profile-top{
    @include flex-grid-row;
}

.profile-pic{
    @include flex-grid-column(12, 3);
    
    img{
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 3px solid $color__white;
    }
}

.profile-name{
    @include flex-grid-column(12, 9);
}

.profile-contact-info{
    @include flex-grid-column(3);
    
    ul{
        padding: 0;
    }
    
    a{
        text-decoration: none;
    }
}

.profile-recommendation{
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
    @include flex-grid-column(1, 1);
}

.cv-section{
    @include flex-grid-row;
    align-items: stretch;
}

.cv-content{
    background: $color__white;
    @include flex-grid-column(3, 2);
    margin-bottom: 0;
    
    section{
        @include flex-grid-vertical-row;
        justify-content: flex-start;
        
        h2, p{
            @include flex-grid-column(1, 1);
        }
    }
}

.cvclang-wrap{
    @include flex-grid-row;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 0 15px;
    
    .cvclang-item{
        @include flex-grid-column(2, 1);
        flex-basis: 50%;
        padding: 0;
        
        ul{
           padding: 0; 
        }
        
        li{
            @include flex-grid-row;
            width: 100%;
        }
        
        .skill-title, .skill-rating{
            @include flex-grid-column(2, 1);
            padding: 0 1px;
            @include font-size(0.8);
        }
        
        .skill-rating{
            color: $color__strong-red;
        }
    }
}

.cv-work-and-education{
    background: $color__white;
    border-left: 5px solid $color__light-grey;
    @include flex-grid-column(3, 1);
    margin-bottom: 0;
    
    h2, p{
        @include flex-grid-column(1, 1);
        padding: 0;
    }   
    
    .fa-ul{
        @include font-size(0.8);
        font-weight: 700;
        .fa-li{
            color: $color__falu-red;
        }
        ul{
            margin: 0.6em;
            font-weight: 400;
            .fa-li{
                @include abs-top(0.2);
                @include font-size(0.4);
                color: $color__black;
            }
        }
        
        p{
            margin-top: 0;
            font-weight: 400;
        }
    }
}

.cv-footer{
    height: 5vh;
    background: $color__black;
}